
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    
}
:root{
    background-color:rgb(91, 152, 192);

}
body{
    margin: 0%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

header {
    background-color: rgba(204, 204, 204, 0.678);
    padding: auto;
    color: rgba(0, 0, 0, 0.328);
    text-align: center;
    font-family: "comic sans ms";
    font-size: 2.5em;
    width: 100%;
    height: 1.5em;
    transition-property: all;
    transition-duration: 0.5s;   
}
header:hover{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    background-color:  rgba(111, 162, 196, 0.349);
}
nav a{
   
    color: rgb(45, 121, 121);
    font-family: "comic Sans MS";
         
}
nav ul{
      margin-right: 20px;
}
nav ul li{
    background: rgba(68, 104, 172, 0.349);
    display: flex;
    border-radius: 5px;
    line-height: 45px;
    margin: 20px 5px;
    transition-property: all;
    transition-duration: 0.7s;
}
nav ul li:hover{
    background: #365986;  
    border-radius: 27px;
    text-shadow: rgba(10px, 0, 10px, 0.328);

}

.nav{
    margin: 5px;
    padding: 5px;
    border: 5px;
}

.nav-links{     
    color: rgba(0, 0, 0, 0.746);
    border: 10px;
    font-weight: 550;
    font-family: "comic Sans MS";
    text-shadow: 0px 1px 4px #000000c4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 7px 13px;    
}
.nav-item{
    list-style-type: disc;
} 
nav a img{
    position: absolute;
    margin: auto;
    width: 120px;
    padding: 15px;
    border-radius: 50%;
    opacity: 1;
    transition-property: all;
    transition-duration: 0.7s;
}
nav a img:hover{
    width: 110px;
    opacity: 0.8;
}

/* ..........  SECTION     ........ */
section h2{

    color: rgb(34, 152, 156);
    font-family: "comic Sans MS";
    font-size: 2rem;
   
}
.section-group{
  
    background-repeat: repeat-x;
    position:initial;
    border-radius: 2%;
    width: 100%;
    height: 80%;
    }
section a img{ 
    border-radius: 10px;
    border: 20px;
    border-color: black;   
            
}
.imagene1{
    margin: 15px;
    padding: 15px; 
    text-shadow: 2px 0px 10px #0000005e;
    animation: poing;
}
.imagene2{
    margin: 15px;
    padding: 15px;
    width: auto;
    height: auto;
    text-shadow: 2px 0px 10px #0000005e;
    animation: poing;
}

.imagene3{
    margin: 15px;
    padding: 15px;
    width: auto;
    height: auto;
    text-shadow: 2px 0px 10px #0000005e;

}

.text-gato{
    margin: 10px;
    padding-top: 10px;
    border: 0px;
}
.text-perro{

    margin: 10px;
    padding-top: 10px;
    border: 0px;
}
.text-loro{
    margin: 10px;
    padding-top: 10px;
    border: 0px;
}


@media(max-width: 1049px){

    .section-group{
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
}
  
.div{
    margin: 20px;
    padding: 20px;
    align-content: center;
}

/*........... FOOTER.......... */
footer{
    background-color:  rgb(111, 162, 196);
    margin: auto;
    padding: 10px;
    font-family: "comic Sans MS";
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-shadow:  2px 2px 5px black;

}
footer a img{
   width: 60px;
   padding: 12px;

}


/* .............inicio-sesion............. */

input[type=text],form{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=email],form{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=password],form{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


/* .......secion gato......... */
.section-animalhouse{ 
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr)); 
    justify-content: space-around;
    grid-column-gap: 100px; 
    grid-row-gap: 150px;  
}

.contenedor{
    width: 100%;
    box-shadow: 2px 5px 10px black;
    border-radius: 20px;
}
.contenedor figure{
   position: relative;
   height: 100%;
   width: 100%;
   overflow: hidden;
   border-radius: 20px;
   cursor: pointer;
}
.contenedor figure img{
   width: 100%;
   height: 100%;
   transition: all 500ms ease-out;
}
.contenedor figure .capa{
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(69, 204, 121, 0.644);
   transition: all 500ms ease-out;
   opacity: 0;
   visibility: hidden;
   text-align: center;
}
.contenedor figure:hover > .capa{
   opacity: 1;
   visibility: visible;

}
.contenedor figure:hover > .capa h3{
   margin-top: 70px;
   margin-bottom: 15px;
}
.contenedor figure:hover img{
   transform: scale(1.3);
}
.contenedor figure .capa h3{
   color: rgb(12, 11, 11);
   font-weight: 400;
   margin-bottom: 120px;
   transition: all 500ms ease-out;
   margin-top: 30px;
}
.contenedor figure .capa p{
   color: rgb(12, 11, 11);
   font-size: 15px;
   line-height:1.5;
   width: 100%;
   max-height: 220px;
   margin: auto;
}

