@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
header {
  background-color: rgba(204, 204, 204, 0.678);
  padding: auto;
  color: rgba(0, 0, 0, 0.328);
  text-align: center;
  font-family: "comic sans ms";
  font-size: 2.5em;
  width: 100%;
  height: 1.5em;
  transition-property: all;
  transition-duration: 0.5s; }
  header :hover {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/*........ seccion....... */
.section-group {
  background-repeat: repeat-x;
  position: initial;
  border-radius: 2%;
  width: 100%;
  height: 80%; }
  .section-group .imagene1 {
    margin: 15px;
    padding: 15px;
    text-shadow: 2px 0px 10px #0000005e;
    animation: poing; }
    .section-group .imagene1 .text-gato {
      margin: 10px;
      padding-top: 10px;
      border: 0px; }
  .section-group .imagene2 {
    margin: 15px;
    padding: 15px;
    width: auto;
    height: auto;
    text-shadow: 2px 0px 10px #0000005e;
    animation: poing; }
    .section-group .imagene2 .text-perro {
      margin: 10px;
      padding-top: 10px;
      border: 0px; }
  .section-group .imagene3 {
    margin: 15px;
    padding: 15px;
    width: auto;
    height: auto;
    text-shadow: 2px 0px 10px #0000005e; }
    .section-group .imagene3 .text-loro {
      margin: 10px;
      padding-top: 10px;
      border: 0px; }

@media (max-width: 1049px) {
  .section-group {
    display: flex;
    justify-content: center;
    flex-direction: column; } }

input[type=text], form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

input[type=email], form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

input[type=password], form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }

:root {
  background-color: #5b98c0; }

body {
  margin: 0%;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh; }

nav {
  background-color: rgba(111, 162, 196, 0.349); }
  nav a {
    color: #2d7979;
    font-family: "comic Sans MS"; }
  nav ul {
    margin-right: 20px; }
    nav ul li {
      background: rgba(68, 104, 172, 0.349);
      display: flex;
      border-radius: 5px;
      line-height: 45px;
      margin: 20px 5px;
      transition-property: all;
      transition-duration: 0.7s; }
      nav ul li :hover {
        background: #365986;
        border-radius: 27px;
        text-shadow: rgba(10, 0, 10, 0.328); }

.nav {
  margin: 5px;
  padding: 5px;
  border: 5px; }
  .nav .nav.item {
    list-style-type: disc; }
    .nav .nav.item .nav-links {
      color: rgba(0, 0, 0, 0.746);
      border: 10px;
      font-weight: 550;
      font-family: "comic Sans MS";
      text-shadow: 0px 1px 4px #000000c4;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      padding: 7px 13px; }

nav a img {
  position: absolute;
  margin: auto;
  width: 120px;
  padding: 15px;
  border-radius: 50%;
  opacity: 1;
  transition-property: all;
  transition-duration: 0.7s; }
  nav a img :hover {
    width: 110px;
    opacity: 0.8; }

/*........... FOOTER.......... */
footer {
  background-color: #6fa2c4;
  margin: auto;
  padding: 10px;
  font-family: "comic Sans MS";
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 5px black; }
  footer a img {
    width: 60px;
    padding: 12px; }

/* .............inicio-sesion............. */
