@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
:root{
    background-color:rgb(91, 152, 192);

}
body{
    margin: 0%;
    background: linear-gradient(90deg, #ffffff 0%, #d9e7ff 100%);
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}