footer{
    background-color:  rgba(0, 0, 0, 0.746);
    margin: auto;
    padding: 14px;
    font-family: "comic Sans MS";
    font-size: 1.5em;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    bottom: 0;
    a img{
        width: 60px;
        padding: 12px;     
     }
}