nav{
    background-color: rgba(0, 0, 0, 0.746);
    a{
        img{
            position: absolute;
            margin: auto;
            width: 120px;
            padding: 15px;
            border-radius: 50%;
            opacity: 1;
            transition-property: all;
            transition-duration: 0.7s;           
        } 

        }
    ul{
        margin: 5px;
        padding: 5px;
        border: 5px;
        margin-right: 20px;
     
        li{
            background: rgba(29, 29, 29, 0.349);
            display: flex;
            border-radius: 5px;
            line-height: 45px;
            margin: 20px 5px;
            transition-property: all;
            transition-duration: 2s;
            
           a{ 
            color: rgba(236, 236, 236, 0.746);
            border: 10px;
            font-weight: 550;
            font-family: "comic Sans MS";
            text-shadow: 0px 1px 4px #000000c4;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
            padding: 7px 13px;  
            
        }  
        :hover{
            color: white;
            background: rgb(0, 0, 0);  
            border-radius: 10px;
            }
        }
    }
}
