@mixin image {
    
}
@mixin text {
    margin: 10px;
    padding-top: 10px;
    border: 0px;
}
.section-group{
    background-repeat: repeat-x;
    position:initial;
    border-radius: 2%;
    width: 100%;
    height: 80%;
    .imagene1{
        margin: 15px;
        padding: 15px; 
        text-shadow: 2px 0px 10px #0000005e;
        .text-gato{
          @include image();
        }
    }
    .imagene2{
        margin: 15px;
        padding: 15px;
        width: auto;
        height: auto;
        text-shadow: 2px 0px 10px #0000005e;
        .text-perro{
            @include image();
        } 
    }
    
    .imagene3{
        margin: 15px;
        padding: 15px;
        width: auto;
        height: auto;
        text-shadow: 2px 0px 10px #0000005e;
        .text-loro{
            @include image();
        }
        
    }
}
@media(max-width: 1049px){
    .section-group{
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
}